@CHARSET "UTF-8";

a:link {
	text-decoration: none;
}

a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

a:active {
	text-decoration: none;
}

.page-content {
	padding-bottom: 9px;
	margin: 40px 0 20px;
}

.page-title {
	padding-bottom: 0px;
	margin: 30px 0 0px;
	color: #317eac;
	/*border-bottom: 1px solid #eeeeee;*/
}

.page-title-latest {
	font-size: 1.2em;
}

.page-title-setting {
	font-size: 1em;
	float: right;
}

.up-down {
	display: inline-block;
	width: 45px;
	height: 25px;
	padding: 3px 7px;
	margin-top: 7px;
	font-size: 12px;
	font-weight: bold;
	color: #ffffff;
	line-height: 1.75;
	vertical-align: baseline;
	white-space: nowrap;
	text-align: center;
	background-color: #2fa4e7;
	border-radius: 10px;
}

.index-list {
	border-bottom: 1px solid #eeeeee;
	margin-top: 10px;
	padding-bottom: 10px;
}

.avatar-img {
	border-radius: 10px;
	width: 45px;
	height: 45px;
}
.avatar-img-small {
	border-radius: 5px;
	width: 25px;
	height: 25px;
}

.avatar-img-large {
	border-radius: 10px;
	width: 78px;
	height: 78px;
}

.time {
	float: right;
}

.question-link {
	font-size: 1.5em;
}

.entry-body {
	margin-top: 5px;
}

.answer-date-link {
	color: #999;
	padding-bottom: 10px;
	margin-right: 10px;
}

.meta-item {
	color: #999;
	margin-right: 10px;
}

.meta-item-edit {
	color: #999;
	margin-left: 15px;
}

.zg-bull {
	/*color: #178acc;*/
	color: #999;
}

.meta-item-hide {	
	color: #999;
	margin-right: 10px;
	dispaly: none;
}

.q-tag {
	padding-bottom: 10px;
	margin: 30px 0 0px;
}

.q-title {
	margin: 10px 0 10px;
}

.q-feed-meta {
	margin: 10px 0 10px;
}

.answer-info {
	margin-top: 10px;
	margin-bottom: 10px;
}

.answer-sort {
	float: right;
}

.answer-main {
	margin-top: 10px;
}

.post-source {
	margin-bottom: 5px;
}

.post-module {
	float: right;
}

.follow-btn {
	padding-bottom: 10px;
	margin: 30px 0 0px;
}

.sidebar-group {
	margin-top: 10px;
}

.sidebar-title {
	margin-top: 10px;
	font-size: 1.1em;
	font-weight: bold;
}

.similar-q {
	margin-top: 10px;
}

.sidebar-share {
	margin-top: 10px;
}

.q-share {
	margin-left: 5px;
	margin-right: 10px;
}

.profile {
	padding-bottom: 9px;
	margin: 40px 0 20px;
	font-size: 1.1em;
}

.profile-header {
	margin-left: 20px;
	margin-bottom: 10px;
	font-size: 2em;
}

.seperator {
	border-right: 1px solid #eeeeee;
}

.location {
	padding-right: 10px;
}

.business {
	padding-right: 10px;
}

.company{
	padding-right: 10px;
}

.work{
	padding-right: 10px;
}

.basic-info {
	border-bottom: 1px solid #eeeeee;
}

.thanks {
	margin-top: 10px;
}

.info-edit {
	float: right;
}

.info-foot {
	margin-top: 10px;
}

.info-item {
	margin-right: 10px;
}

.recent-status {
	margin-top: 10px;
}

.status-info {
	margin-left: 15px;
	margin-bottom: 5px;
}

.status-time {
	float: right;
	margin-right: 10px;
}

.status-q-link {
	margin-left: 15px;
	font-size: 1.5em;
}

.home-sidebar {
	margin-top: 40px;
	font-size: 1.25em;
}

.home-sidebar2 {
	margin-top: 10px;
	font-size: 1.25em;
}

.home-sidebar3 {
	margin-top: 10px;
	font-size: 1em;
}

.follow-btn {
	float: right;
}

.setting-tab-header {
	margin-top: 10px;
	margin-bottom: 10px;
}

.setting-form {
	margin-top: 20px;
}

.login-content {
	margin-top: 80px;
}
.comment {
	margin-top: 10px;
}
.feed-meta {
	margin-top: 5px;
}

.info-content {
	margin-top: 170px;
}




