@CHARSET "UTF-8";
a:link {
 text-decoration: none;
}
a:visited {
 text-decoration: none;
}
a:hover {
 text-decoration: none;
}
a:active {
 text-decoration: none;
}
.page-content {
  padding-bottom: 9px;
  margin: 40px 0 20px;
}
.page-title {
  padding-bottom: 0px;
  margin: 30px 0 0px;
  color: #317eac;
  border-bottom: 1px solid #eeeeee;
}
.page-title-latest {
  font-size: 1.2em;
}
.page-title-setting {
  font-size: 1em;
  float: right;
}
.up-down {
  display: inline-block;
  width: 45px;
  height: 25px;
  padding: 3px 7px;
  margin-top:7px;
  font-size: 12px;
  font-weight: bold;
  color: #ffffff;
  line-height: 1.75;
  vertical-align: baseline;
  white-space: nowrap;
  text-align: center;
  background-color: #2fa4e7;
  border-radius: 10px;
}
.index-list {
	border-bottom: 1px solid #eeeeee; 
	margin-top:10px; 
	padding-bottom:10px;
}
.avatar-img {
	border-radius: 10px;
	width: 45px;
	height: 45px;
}
.time {
	float:right;
}
.question-link {
	font-size:1.5em;
}
.entry-body {
	margin-top:5px;
}
.answer-date-link {
	padding-bottom:10px;
}
.meta-item {
	margin-right:5px;
}
.zg-bull {
	color: #178acc;
}
.meta-item-right {
	float:right;
}






