@CHARSET "UTF-8";

a:link {
	text-decoration: none;
}

a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

a:active {
	text-decoration: none;
}

/* ------ index page ------ */
.main-content {  
	padding-bottom: 9px;
	margin: 30px 0 20px;
}

.question-main-content {  
	padding-bottom: 9px;
	margin: 90px 0 20px;
}

.left-main-title {
	font-size: 12px;
	padding-bottom: 5px;
	margin-bottom: 15px;
	border-bottom: 1px solid #eeeeee;
}

.recent-news {
	padding-right: 5px;
}

.news-setting {
	float: right;
}

.news-setting a {
	color: #999;
}

.loding-btn-top {
	margin-bottom: 10px;
}

.loding-btn {
	margin-top: 10px;
	margin-bottom: 10px;
}

.left-main-content-wrap {
	/*border-bottom: 1px solid #eeeeee;*/
	/*margin-top: 10px;*/
}

.vote-number {
    margin-top: 6px;
    background-color: #eff6fa;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.vote-text-center {
    text-align: center;
}

.content-source {
	padding-left: 5px;
	color: #999;
	font-size: 12px;
}
.content-source a {
	padding-left: 5px;
	color: #999;
	font-size: 12px;
}

.source-time {
	float: right;
}

.question-link {
	padding-left: 10px;
}

.author-info {
	padding-left: 10px;
	color: #999;
	font-size: 13px;
	margin-bottom: 5px;
}

.author-info a {
	color: #222;
	font-size: 13px;
}

.question-content {
	padding-left: 10px;
}

.answer-date {
	color: #999;
	font-size: 12px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.answer-date a {
	color: #999;
	font-size: 12px;
}

.meta-panel {
	padding-left: 10px;
}

.meta-item {
	color: #999;
	font-size: 12px;
	margin-right: 5px;
}

.bull {
	padding: 0 3px;
}

.answer-collapse {
	float: right;
}

.comment {
	margin-top: 10px;
}

/* ------ question page ------ */
.question-detail {
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-bottom: 1px solid #eeeeee;
}

.question-tag {
	margin-bottom: 15px;
}

.item-edit {
	color: #999;
	display: inline-block;
	font-size: 11px;
	font-weight: 400;
	padding: 0 5px 0 2px;
	margin: 0 0 0 2px;
}

.question-title {
	font-size: 16px;
	font-weight: 700;
	margin-bottom: 10px;
}

.question-contents {
	font-size: 11px;
	margin-bottom: 10px;
}

.q-meta-item {
	color: #999;
	font-size: 12px;
	margin-right: 5px;
}

.q-meta-item-right {
	float: right;
	color: #999;
	font-size: 12px;
	margin-right: 5px;
}

.answer-info {
	margin-top: 15px;
	margin-bottom: 15px;
	padding-bottom: 15px;
	border-bottom: 1px solid #eeeeee;
}

.answer-sort {
	float: right;
}

.post-source {
	margin-bottom: 5px;
}

.post-module {
	float: right;
}

.sidebar-group {
	margin-top: 15px;
}

.sidebar-group-title {
	font-size: 16px;
}

.similar-question-group {
	margin-top: 10px;
}

.similar-question {
	margin-top: 10px;
	font-size: 12px;
	color: #999;
}

/* ------ home page ------ */

.profile-header {
	margin-bottom: 10px;
	font-size: 18px;
}

.user-infos {
	border-bottom: 1px solid #eee;
}

.user-info {
	color: #999;
	font-size: 12px;
	margin-bottom: 10px;
}

.user-info-end {
	color: #999;
	font-size: 12px;
}

.location, .business, .gender, .company,
.work, .education, .specialty{
	margin-right: 5px;
}

.user-info-detail {
	font-size: 12px;
	float: right;
}

.achievement {
	color: #999;
	font-size: 12px;
	margin-top: 15px;
}

.achieve {
	margin-right: 10px;
}

.achieve-right {
	float: right;
	margin-right: 10px;
}

.user-info-foot {
	color: #999;
}

.info-item {
	color: #999;
	margin-right: 10px;
}

.more {
	float: right;
	color: #999;
}

.question-list {
	margin-bottom: 15px;
}

.ask-list {
	padding-bottom: 5px;
	margin-bottom: 10px;
}


.answer-question {
	font-size: 16px;
}

.user-answer {
	font-size: 12px;
}

.user-agree {
	margin-left: 5px;
}

.topic-img {
	height: 34px;
	width: 34px;
	border-radius: 3px;
}

/* ------ followees page ------ */
.follow {
	float: right;
}

.back-home {
	float: right;
	color: #999;
	font-size: 12px;
}

/* ------ setting page ------ */
.setting-margin {
	margin-right: 20px;
}

/* ------ log page ------ */
ins {
	text-decoration: none;
	padding: 3px 0;
	background: #EAF0DD;
	color: #5B7918;
}

del {
	text-decoration: line-through;
	padding: 3px 0;
	background: #f5dfdf;
	color: #ac1414;
}

/* ------ login page ------ */
.login-main {
	color: #fff;
	background: #0078d8;
	min-height: 300px;
}

.login-logo {
	margin-top: 60px;
}

.sign-in-up {
	margin-top: 60px;
	margin-bottom: 10px;
}

.sign-in-up a {
	color: #fff;
}

.sign-in-title {
	float: right;
}

/* ------ inbox page ------ */
.inbox-title {
	border-bottom: 1px solid #eee;
	padding-bottom: 10px;
	margin-bottom: 20px;
}

.module-right {
	float: right;
}

.left-main-content-wrap2 {
	border-bottom: 1px solid #eee;
	padding-bottom: 10px;
	margin-bottom: 10px;
} 

/* ------ inbox msg page ------ */
.inbox-back {
	margin-bottom: 10px;
}

.inbox-msg-title {
	border-bottom: 1px solid #eee;
	padding-bottom: 10px;
	margin-bottom: 20px;
}

.send-msg {
	margin-top: 10px;
	margin-bottom: 10px;
}

.avatar-vote {
	width: 40px;
}

.content-details {
	padding-right: 0px;
}

.answer-avatar {
	width: 40px;
}
