/* ------ index page ------ */
.main-content {  
	padding-bottom: 9px;
	margin: 30px 0 20px;
}

.left-main-title {
	font-size: 12px;
	padding-bottom: 5px;
	border-bottom: 1px solid #eeeeee;
}

.recent-news {
	padding-right: 5px;
}

.news-setting {
	float: right;
}

.news-setting a {
	color: #999;
}

.loding-btn {
	margin-top: 10px;
	margin-bottom: 10px;
}

.left-main-content-wrap {
	/*border-bottom: 1px solid #eeeeee;*/
	margin-bottom: 10px;
}

.vote-number {
    margin-top: 6px;
    background-color: #eff6fa;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.vote-text-center {
    text-align: center;
}

.content-source {
	padding-left: 5px;
	color: #999;
	font-size: 12px;
}
.content-source a {
	padding-left: 5px;
	color: #999;
	font-size: 12px;
}

.source-time {
	float: right;
}

.question-link {
	padding-left: 10px;
}

.author-info {
	padding-left: 10px;
	color: #999;
	font-size: 13px;
	margin-bottom: 5px;
}

.author-info a {
	color: #222;
	font-size: 13px;
}

.question-content {
	padding-left: 10px;
}

.answer-date {
	color: #999;
	font-size: 12px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.answer-date a {
	color: #999;
	font-size: 12px;
}

.meta-panel {
	padding-left: 10px;
}

.meta-item {
	color: #999;
	font-size: 12px;
	margin-right: 5px;
}

.bull {
	padding: 0 3px;
}

.answer-collapse {
	float: right;
}

/* ------ question page ------ */
.question-detail {
	padding-bottom: 10px;
	border-bottom: 1px solid #eeeeee;
}

.question-tag {
	margin-bottom: 15px;
}

.item-edit {
	color: #999;
	display: inline-block;
	font-size: 11px;
	font-weight: 400;
	padding: 0 5px 0 2px;
	margin: 0 0 0 2px;
}

.question-title {
	font-size: 16px;
	font-weight: 700;
	margin-bottom: 5px;
}

.question-contents {
	font-size: 11px;
	margin-bottom: 10px;
}

.q-meta-item {
	color: #999;
	font-size: 12px;
	margin-right: 5px;
}

.q-meta-item-right {
	float: right;
	color: #999;
	font-size: 12px;
	margin-right: 5px;
}